* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

body, html {
  font-size: 14px;
  font-family: "Inter",sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0px 10px; }

.btn {
  padding: 0.5rem 0rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #667085;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer; }
  .btn:hover {
    color: #6941C6; }
  .btn span {
    margin-right: 5px; }

.btn-main {
  padding: 0.5rem 1rem;
  border-color: #E4E7EC; }
  .btn-main:hover {
    background-color: #6172F3;
    color: #fff;
    border-color: #6172F3; }

.btn-second {
  padding: 0.5rem 1rem;
  color: #6172F3;
  border-color: #E4E7EC; }
  .btn-second span {
    color: #6941C6; }
  .btn-second:hover {
    background-color: #6172F3;
    color: #fff;
    border-color: #6172F3; }
    .btn-second:hover span {
      color: #fff; }

.btn-third {
  padding: 0.5rem 1rem;
  color: #F63D68;
  border-color: #E4E7EC; }
  .btn-third:hover {
    background-color: #F63D68;
    color: #fff;
    border-color: #F63D68; }

.btn-fourth {
  padding: 0.5rem 1rem;
  color: #6172F3;
  border-color: #E4E7EC; }
  .btn-fourth:hover {
    background-color: #6172F3;
    color: #fff;
    border-color: #6172F3; }

.header {
  background-color: #F9FAFB;
  margin-bottom: 2rem;
  padding: 2rem 0px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .back-title {
    font-weight: 500; }
    .header .back-title .icon {
      display: inline-block; }
    .header .back-title .title {
      font-size: 24px;
      display: inline-block; }
  .header .box-right {
    display: flex;
    align-items: center; }
  .header .action .btn {
    background-color: #667085;
    padding: 0.5rem 1rem;
    color: #fff; }
  .header .avatar {
    margin-left: 1rem; }
    .header .avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover; }

.page-content {
  display: flex;
  justify-content: space-between; }
  .page-content .box {
    width: calc(50% - 30px); }

.box-timeline .item {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .box-timeline .item .date {
    width: 100px;
    text-align: right;
    color: #667085;
    padding: 2rem 0px; }
  .box-timeline .item .content {
    flex: 1;
    padding: 2rem 0px;
    min-width: 0px;
    margin-left: 3rem;
    border-left: 2px solid #E4E7EC;
    padding-left: 3rem; }
  .box-timeline .item.active .content {
    border-left-color: #6172F3; }

.box-timeline .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem; }

.box-timeline .desc {
  color: #667085; }

.box-timeline .actions {
  margin-top: 1rem; }
  .box-timeline .actions .btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
    .box-timeline .actions .btn:last-child {
      margin-right: 0px; }

.box-slide {
  padding: 0px 2rem; }
  .box-slide .main-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  .box-slide .main-desc {
    font-size: 16px;
    color: #667085;
    margin-bottom: 2rem; }
  .box-slide .slider img {
    width: 100%; }
  .box-slide .user {
    display: flex;
    align-items: center;
    margin-top: 2rem; }
    .box-slide .user .avatar {
      margin-right: 1rem; }
      .box-slide .user .avatar img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover; }
    .box-slide .user .name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0.15rem; }
    .box-slide .user .date {
      color: #667085; }

.box-comments {
  background-color: #F9FAFB;
  padding: 2rem;
  margin-top: 2rem; }
  .box-comments .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem; }
  .box-comments .item {
    display: flex;
    margin-bottom: 1.5rem;
    max-width: 420px;
    width: 100%; }
  .box-comments .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .box-comments .info {
    flex: 1;
    margin-left: 1rem; }
  .box-comments .top {
    display: flex;
    justify-content: space-between; }
    .box-comments .top .name {
      font-weight: 500; }
    .box-comments .top .date {
      color: #667085; }
  .box-comments .mess {
    background: #FFFFFF;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 0px 8px 8px 8px; }
  .box-comments .file-name {
    display: flex; }
    .box-comments .file-name .text-content {
      flex: 1;
      margin-left: 1rem;
      font-size: 14px; }
    .box-comments .file-name .icon {
      border: 4px solid #F9F5FF;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 24px;
      background-color: #F4EBFF;
      color: #6941C6;
      display: block; }
    .box-comments .file-name .file-title {
      display: block; }
    .box-comments .file-name .size {
      color: #667085; }

.slider {
  position: relative;
  text-align: center; }
  .slider .slick-slide {
    height: auto; }
  .slider .slick-arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #667085;
    color: #fff;
    border: 0px;
    font-size: 0px;
    cursor: pointer;
    z-index: 2;
    font-family: "icomoon"; }
    .slider .slick-arrow:hover {
      background-color: #6941C6; }
    .slider .slick-arrow:before {
      font-size: 16px; }
    .slider .slick-arrow.slick-prev {
      left: 10px; }
      .slider .slick-arrow.slick-prev:before {
        content: "\e900"; }
    .slider .slick-arrow.slick-next {
      right: 10px; }
      .slider .slick-arrow.slick-next:before {
        content: "\e901"; }
  .slider .slick-dots {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    list-style: none;
    padding: 0px;
    border-radius: 10px;
    padding: 0.25rem;
    background-color: #667085; }
    .slider .slick-dots li {
      display: inline-block; }
    .slider .slick-dots button {
      width: 8px;
      height: 8px;
      padding: 0px;
      font-size: 0px;
      border-radius: 50%;
      background-color: #9E77ED;
      border: 0px;
      cursor: pointer;
      margin: 0px 2px; }
    .slider .slick-dots .slick-active button {
      background-color: #fff; }

@media (max-width: 768px) {
  .header {
    padding: 1rem 0px; }
  .header .back-title .title {
    font-size: 18px; }
  .page-content {
    display: block; }
    .page-content .box {
      width: 100%;
      margin-top: 2rem; }
  .box-timeline .item .date {
    width: 80px; }
  .box-timeline .item .content {
    padding: 1rem 0px;
    margin-left: 1rem;
    padding-left: 1rem; } }

@media (max-width: 420px) {
  .header .container {
    display: block; }
    .header .container .box-right {
      display: flex;
      margin-top: 1rem;
      justify-content: space-between; } }
