* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

body, html {
  font-size: 18px;
  color: #35353F;
  line-height: 1.44444;
  font-family: "Inter",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.box-pricing-wrap {
  padding: 2rem; }

.box-pricing {
  max-width: 991px;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.pricing-item {
  width: calc(33.333% - 1rem);
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.11111rem;
  padding: 1.2222rem; }
  .pricing-item.-mid .pricing-button {
    margin-top: 7.66667rem; }
  .pricing-item.-main {
    background: #324869;
    color: #fff; }
    .pricing-item.-main img {
      width: 100%;
      height: 180px;
      object-fit: contain; }
    .pricing-item.-main .pricing-subtitle {
      margin-bottom: 0.5rem; }
    .pricing-item.-main .next {
      display: block;
      margin-top: 1.5rem;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 1.7778rem;
      cursor: pointer;
      transition: transform 0.1s ease; }
      .pricing-item.-main .next:hover {
        transition: transform 0.1s ease;
        transform: scale(1.1); }

.pricing-title {
  font-size: 1.7778rem;
  margin-bottom: 1rem;
  font-weight: bold; }

.pricing-note {
  font-size: 1.222rem;
  color: #A9A9AA;
  margin-bottom: 1rem; }

.pricing-feature {
  margin-bottom: 0.66667rem;
  padding-bottom: 0.66667rem;
  border-bottom: 1px dashed #A9A9AA; }
  .pricing-feature .li {
    padding-bottom: .5rem;
    display: flex; }
  .pricing-feature .text {
    flex: 1;
    margin-left: 0.5rem; }

.pricing-button {
  width: 100%;
  text-decoration: none;
  background: #3D828B;
  color: #fff;
  font-weight: 600;
  display: block;
  text-align: center;
  border-radius: 0.66667rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  font-size: 1.222rem;
  transition: background-color 0.2s ease; }
  .pricing-button:hover {
    transition: background-color 0.2s ease;
    background: #324869; }

.pricing-price {
  margin-top: 1rem; }
  .pricing-price .number {
    font-size: 1.7778rem;
    font-weight: bold; }

@media (max-width: 1320px) {
  html, body {
    font-size: 14px; } }

@media (max-width: 768px) {
  .box-pricing {
    display: block; }
  .pricing-item {
    width: 100%;
    margin-bottom: 1rem; } }
