* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

body, html {
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  color: #1B0A42;
  overflow: auto; }

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #fff;
  border: 0px;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block; }
  .btn:hover {
    color: #4F56F1; }
  .btn.btn-main {
    background-color: #4F56F1;
    color: #fff; }
    .btn.btn-main:hover {
      background-color: #2029ed; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 1rem; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  height: 60px;
  z-index: 100;
  padding: 0.5rem 0px; }
  .header .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .menus {
    flex: 1;
    margin: 0px 3rem; }
    .header .menus ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
    .header .menus li {
      display: inline-block; }
    .header .menus a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: #1B0A42; }
      .header .menus a:hover {
        color: #4F56F1; }
    .header .menus li.active > a {
      color: #4F56F1; }

.hero-banner .container {
  padding: 0px; }

.hero-banner .hero-content {
  display: flex;
  min-height: 100%;
  padding: 3rem 1rem;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between; }

.hero-banner .text-content {
  max-width: 520px;
  width: 100%;
  margin-right: 2rem; }

.hero-banner .hero-image {
  max-width: 600px; }
  .hero-banner .hero-image img {
    width: 100%; }

.hero-banner .main-title {
  font-family: 'Ramaraja', serif;
  font-size: 4.5rem;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 2rem; }

.hero-banner .main-desc {
  font-size: 1.25rem;
  color: #9A9A9A;
  line-height: 1.5; }

.hero-banner .actions {
  margin-top: 3rem; }

.nav-toggle {
  width: 36px;
  height: 36px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 60px;
  left: 10px;
  background-color: #fff;
  z-index: 100;
  border-radius: 4px;
  display: none;
  cursor: pointer; }
  .nav-toggle .bar {
    height: 2px;
    display: inline-block;
    width: 100%;
    background-color: #4F56F1; }

.overlay-common {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: none; }
  .overlay-common.show {
    display: block; }

@media (max-width: 991px) {
  body, html {
    font-size: 14px; }
  .hero-banner .main-title {
    font-size: 4rem; } }

@media (max-width: 768px) {
  .hero-banner .hero-content {
    flex-wrap: wrap;
    max-width: 520px;
    margin: auto; }
  .hero-banner .text-content {
    max-width: 100%;
    margin-bottom: 2rem;
    margin-right: 0px; }
  .hero-banner .hero-image {
    max-width: 100%; }
  .hero-banner .main-title {
    font-size: 3rem; }
  .header .logo {
    flex: 1;
    margin-left: 0.5rem; }
  .header .btn {
    padding: 0.5rem 1rem; }
  .header .menus {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 260px;
    left: 0px;
    background-color: #fff;
    margin: 0px;
    z-index: 100;
    transition: left 0.3s ease;
    left: -100%;
    opacity: 0;
    visibility: hidden; }
    .header .menus.show {
      transition: left 0.3s ease;
      left: 0px;
      opacity: 1;
      visibility: visible; }
    .header .menus li {
      display: block; }
    .header .menus a {
      padding: 1rem; }
  .nav-toggle {
    display: flex; } }
