* {
  box-sizing: border-box; }

/*Style*/
body, html {
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  height: 100%;
  color: #272727;
  line-height: 1.375;
  overflow: hidden;
  padding: 0px;
  margin: 0px; }

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0px 1rem; }

.btn {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid transparent;
  min-width: 140px;
  font-size: 1rem;
  cursor: pointer; }
  .btn.btn-second {
    border-color: #6935FD;
    color: #6935FD;
    transition: background-color 0.3s ease; }
    .btn.btn-second:hover {
      transition: background-color 0.3s ease;
      background-color: #6935FD;
      color: #fff; }
  .btn.btn-main {
    background: #6935FD;
    border-color: #6935FD;
    color: #fff; }
    .btn.btn-main:hover {
      opacity: 0.8; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0.5rem 1rem;
  z-index: 100;
  background: #fff; }
  .header .flex-box {
    display: flex;
    justify-content: space-between; }
  .header .logo img {
    height: 24px; }
  .header .menus {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .header .menus li {
      display: inline-block; }
    .header .menus a {
      display: block;
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: #272727; }
      .header .menus a:hover {
        color: #6935FD; }
    .header .menus .active > a {
      color: #6935FD;
      font-weight: 500; }

.hero-content {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  padding: 4rem 0px;
  padding-bottom: 5rem; }
  .hero-content .container {
    max-width: 700px; }
  .hero-content .main-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2rem; }
  .hero-content .desc {
    text-align: center;
    color: #616161;
    padding: 0px 2rem; }
  .hero-content .box-search {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero-content .box-search .icon {
      font-size: 24px;
      width: 30px;
      text-align: center;
      color: #A8A8A8; }
    .hero-content .box-search .form-control {
      flex: 1;
      height: 32px;
      padding: 0.5rem;
      border: 0px;
      outline: 0;
      font-size: 1rem; }
      .hero-content .box-search .form-control::placeholder {
        color: #A8A8A8; }
  .hero-content .list-results .item {
    padding: 1rem;
    background: #fff;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; }
    .hero-content .list-results .item:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); }
    .hero-content .list-results .item .name {
      flex: 1; }
    .hero-content .list-results .item .info {
      font-size: 0.875rem;
      color: #616161; }
      .hero-content .list-results .item .info span {
        font-size: 1rem;
        color: #A8A8A8;
        display: inline-block;
        vertical-align: middle; }
    .hero-content .list-results .item .more {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      display: block;
      text-decoration: none;
      color: #A8A8A8;
      margin-left: 20px; }
      .hero-content .list-results .item .more span {
        line-height: 30px; }
      .hero-content .list-results .item .more:hover {
        color: #6935FD; }

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff; }
  .footer .footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #A8A8A8; }
  .footer .menus {
    list-style: none; }
    .footer .menus a {
      padding: 0px 0.5rem;
      display: inline-block;
      color: #A8A8A8;
      text-decoration: none; }
      .footer .menus a:hover {
        color: #6935FD; }

.nav-toggle {
  width: 32px;
  height: 32px;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  margin-left: 10px;
  display: none;
  background: #fff; }
  .nav-toggle .bar {
    height: 2px;
    background: #A8A8A8;
    width: 100%; }

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 99; }
  .overlay.show {
    display: block; }

@media (max-width: 768px) {
  body, html {
    font-size: 14px; }
  .header .nav-toggle {
    display: flex; }
  .header .logo {
    flex: 1; }
  .header .menus {
    position: fixed;
    top: 0px;
    left: -100%;
    bottom: 0px;
    background: #fff;
    width: 260px;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease; }
    .header .menus li {
      display: block; }
    .header .menus.show {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease;
      left: 0px; }
  .header .btn {
    min-width: 0px; }
  .hero-content .main-title {
    font-size: 2rem; }
  .hero-content .box-search .btn-main {
    display: none; }
  .hero-content .list-results .item {
    display: block;
    position: relative;
    padding-right: 40px; }
    .hero-content .list-results .item .name {
      margin-bottom: 1rem; }
    .hero-content .list-results .item .more {
      position: absolute;
      top: 1rem;
      right: 0px; }
  .footer .footer-inner {
    display: block;
    text-align: center; }
    .footer .footer-inner .copyright {
      margin-bottom: 1rem; } }
