// Variables
$main:#3F9BFC;
$border:#EAECF0;
$text:#101828;
$desc:#667085;
$bg:#F4F8FB;
$success: #12B76A;
$warning: #FAC301;
$disabled: #D0D5DD;
*{
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;

}

body,html{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #101828;
    color: $text;
    line-height: 1.3333;
}

.box-contacts{
    max-width: 540px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 16px;
}

.contact-head{
    display: flex;
    padding: 10px 14px;
    border-bottom: 1px solid $border;
    align-items: center;
    padding-top: 20px;
    .input-search{
        flex: 1;
        min-width: 0px;
        display: flex;
        align-items: center;
    }
    .search{
        cursor: pointer;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }
    .form-control{
        background-color: transparent;
        border: 0px;
        width: 100%;
        padding: 10px 10px;
        border: 0px;
        font-size: 16px;
        &::placeholder{
            color: $border;
        }
        &:focus{
            outline: 0px;
        }
    }
    .close{
        cursor: pointer;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }

}

.avatar{
    width: 40px;
    height: 40px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;

    }
    .dot{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: $disabled;
        &.-disabled{
            background-color: $disabled;
        }
        &.-online{
            background-color: $success;
        }
        &.-offline{
            background-color: $warning;
        }
    }
}

.tabs{
    display: flex;
    border-bottom: 1px solid $border;
    column-gap: 20px;
    padding: 0px 14px;
    a{
        display: flex;
        align-items: center;
        padding: 15px 0px;
        text-decoration: none;
        font-weight: 500;
        color: $desc;
        column-gap: 5px;
        position: relative;
        .number{
            background-color: $bg;
            padding: 2px 5px;
            font-size: 12px;
            border-radius: 4px;


        }
        &:hover{
            color: $main;
        }
        &.active{
            color: $main;
            &:before{
                content: "";
                height: 2px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-color: $main;
            }

        }
    }
}

.list-contacts{
    max-height: 300px;
    overflow: auto;
    .item{
        padding: 20px 14px;
        display: flex;
        column-gap: 10px;
        align-items: center;
        border-bottom: 1px solid $border;
        cursor: pointer;
        &:hover{
            background-color: $bg;
        }
        &:last-child{
            border-bottom: 0px;
        }
        .text-content{
            flex: 1;
            min-width: 0px;
        }

    }
    .username{
        font-weight: 500;
        margin-bottom: 3px;
    }
    .time{
        font-weight: normal;
        color: $desc;
    }
    .group-name{
        color: $desc;
    }
}

.contact-bottom{
    display: flex;
    border-top: 1px solid $border;
    padding: 20px 14px;
    justify-content: flex-end;
    column-gap: 10px;
    flex-wrap: wrap;
}
.btn{
    padding: 10px 14px;
    background-color: transparent;
    border: 1px solid $border;
    border-radius: 10px;
    min-width: 130px;
    cursor: pointer;
    &:hover{
        background-color: $bg;
    }
    &.btn-main{
        background-color: $main;
        border-color: $main;
        color: #fff;
        &:hover{
            background-color: darken($main,10);
            border-color:  darken($main,10);
        }
    }
}