// Var

$main:#15144E;
$second:#2F80ED;
$third:#F2994A;
$bg: #F7FAFC;
$border:#E2E8F0;
$text: #4A5568;
$textD: #718096;

body,html{
    font-size: 14px;
    background-color: $bg;
    color: $text;
    font-family: "Roboto", sans-serif;
}

.btn-main{
    background-color: $second;
    color: #fff;
    border-color: $second;
    &:hover{
        background-color: $main;
        color: #fff;
        border-color: $main;
    }
}


/*sidebar*/


.sidebar{
    width: 260px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: $main;
    color: #fff;
    padding: 2rem 0px;
    padding-bottom: 3rem;
    .logo{
        display: block;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        img{
            width: 34px;
            height: 34px;
            object-fit: contain;
            
        }
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .menus-box{
        margin: 1rem 0px;

    }
    .menus{
        list-style: none;
        padding: 0px;
        margin: 0px;
        a{
            display: block;
            color: #fff;
            padding: 0.75rem 1.5rem;
            text-decoration: none;
            &:hover{
                background-color: rgba(#fff,0.1);
            }
        }
        .icon{
            font-size:1.25rem ;
            margin-right: 10px;
        }
        li.active >a, a.active{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                width: 4px;
                top: 0px;
                bottom: 0px;
                right: 0px;
                background-color: $third;
                border-radius: 20px;
            }
        }

    }
    .footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(#000,0.2);
        
        .btn-logout{
            display: block;
            padding: 0.75rem 1.5rem;
            color: #fff;
            text-decoration: none;
            &:hover{
                background-color: rgba(#fff,0.1);
            }
        }
    }
}


//Mainwrapper
.main-wrapper{
    position: absolute;
    top: 0px;
    left:260px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.top-navigation{
    background-color: #fff;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 60px;
    .box-search{
        position: relative;
        width: 300px;
        .form-control{
            padding-left: 30px;
        }
        .icon{
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 5px;
            margin: auto;
            color: $textD;
        }
    }
    .menu-right{
        white-space: nowrap;
        .item{
            display: inline-block;
            margin-left: 1rem;
            vertical-align: middle;
            &.-notify{
                width: 30px;
                height: 30px;
                line-height: 30px;
                position: relative;
                .icon{
                    font-size: 1.75rem;
                    color: $textD;
                }
                .dot{
                    width: 10px;
                    height: 10px;
                    top: 0px;
                    right: 5px;
                    background-color: $third;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                }
            }

        }

        .avatar{
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                
            }
        }
        .dropdown-user{
            a{
                display: block;
                padding: 0.5rem 1rem;
                color: $text;
                text-decoration: none;
                &:hover{
                    background-color: $bg;
                }
            }
        }
        
    }
}

.page-content{
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 1.5rem;
    overflow: auto;
}
.main-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 1rem;
}

.box-form{
    background-color: #fff;

}
.form-head{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    .form-title{
        font-size: 1.25rem;
    }
}

.table-content{
    overflow: auto;
}
.table-result{
    width: 100%;
    white-space: nowrap;
    th{
        background-color: #EDF2F7;
        font-weight: normal;
    }
    th,td{
        
        padding: 0.75rem 1rem;
    }
    td{
        border-bottom: 1px solid $border;
        color: $textD;
    }
    a.btn{
        color: $second;
        
    }
}

.pagination-bottom{
    display: flex;
    padding: 0.75rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    .page-item{
        margin: 0px 5px;
    }
    .page-link{
        background: none;
        color: $text;
        border: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        padding: 0px;
        &:hover{
            background: $bg;
            color: $second;
        }
    }
    .btn-size{
        border: 1px solid $border;
        color: $textD;
        white-space: nowrap;
    }
    
}
.nav-toggle{
    width: 32px;
    height: 32px;
    left: 0px;
    background: $second;
    color: #fff;
    line-height: 32px;
    position: absolute;
    z-index: 10;
    display: none;
    top: 12px;
    left: 10px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    span{
        line-height: 32px;
        
    }
    &:hover{
        background: $main;
    }
}

.overlay-common{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    background: rgba(#000,0.2);
    display: none;
    &.show{
        display: block;
    }
}
/*Responsive*/
// screen <= 991px
@media(max-width:991px){
    .nav-toggle{
        display: block;
    }
    .sidebar{
        left: -100%;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;
        &.show{
            left: 0%;
            transition: all 0.3s ease;
            visibility: visible;
            opacity: 1;
        }

    }
    .main-wrapper{
        left: 0px;
    }
    .top-navigation{
        padding-left: 50px;
    }
}